* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.box-border {
  border: 1px solid #000;
}
body {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.cur-edit {
  transform: scale(1.02);
  box-shadow: inset 0px 0px 8px 0px #aaaaaa;
}
.context-menu {
  position: absolute;
  width: 180px;
  user-select: none;
  position: fixed;
  z-index: 4001;
  box-shadow: 0 2px 8px 2px rgba(68, 73, 77, 0.16);
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: #fff;
  border-radius: 2px;
  height: auto !important;
}
.context-menu li {
  list-style: none;
  font-size: 12px;
  padding: 8px 12px 8px 28px;
}
.context-menu li:hover {
  background: #eee;
}
